.grid {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 640px;
  background-color: cornflowerblue;
  margin: auto;
  padding: 1px;
}

.row {
  display: flex;
  flex: 1;
  margin: 0;
}

.square {
  flex: 1;
  background-color: burlywood;
  margin: 1px;
}

.controls {
  display: flex;
  margin: 50px 0px;
}

#resetButton {
  margin: auto;
  padding: 5px 15px;
}